pdftex          pdftex         -       -translate-file=cp227.tcx *pdftex.ini
pdflatex        pdftex         language.dat    -translate-file=cp227.tcx *pdflatex.ini
pdfetex         pdftex         language.def    -translate-file=cp227.tcx *pdfetex.ini
